.Bulgarian .page1 .right-atricle p {
    margin-bottom: .0rem !important;
}

.Bulgarian .page1 .right-atricle h1 {
    margin-bottom: 0 !important;
}

.Spanish .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}

.Greek .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}
.Croatian .page1 .right-atricle p {
    margin-bottom: .12rem !important;
}
.HU .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}
.Polish .page1 .right-atricle p {
    margin-bottom: .14rem !important;
}
.Dutch .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}
.Romanian .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}

.Slovak .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}

.Swedish .page1 .right-atricle p {
    margin-bottom: .18rem !important;
}

.Russian .page1 .right-atricle p {
    margin-bottom: .16rem !important;
}

.Ukrainian .page1 .right-atricle p {
    margin-bottom: .1rem !important;
}

.Indonesian .page1 .right-atricle p {
    margin-bottom: .16rem !important;
}
