@font-face {
    font-family: "gotham book";
    src: url("./gotham-book.otf");
}

@font-face {
    font-family: "Aria";
    src: url("./Arial.ttf");
}
body {
    font-family:gotham book;
}
.aria {
    font-family: "Aria";
}